section{
    text-align: center;
}

.developer-section, .about-section {
    display: flex;
    justify-content: space-around;
}

.feat-box{
    text-align: center;
}

.feat-image{
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.about-section .column-content{
    min-width: 33%;
}