.pageHeaderContact, .contactPage h2, .coachSponsorContactContainer ul {
    text-align: center;
    position: relative;
}

.contactPage {
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.contactPage a {
    word-wrap: break-word;
}

.currentTeamMembersBackground {
    background-color: lightgray;
    display: inline-block;
    width: 100%;
    margin: 2% auto auto;
    padding: 0px 4% 2%;
    z-index: 2;
    position: relative;
    overflow: hidden;
    left: -4%;
}

.currentTeamMembers div {
    background-color: white;
}

.coachSponsorContactContainer, .currentTeamMembers, .pastTeamMembers {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1%;
}

.coachSponsorContactContainer div, .currentTeamMembers div, .pastTeamMembers div {
    width: 45%;
    min-height: fit-content;
    border: 2.5px solid black;
    border-radius: 25px;
    padding: 11px;
}

.pastTeamMembers, .currentTeamMembers {
    row-gap: 11px;
}

.sideTabletDesktop {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.coachSponsorContactContainer img, .currentTeamMembers img, .pastTeamMembers img {
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 11px;
}

.contactPage li {
    text-align: left;
}

/* Desktop only */
@media screen and (min-width: 950px) {
    .currentTeamMembers div , .pastTeamMembers div {
        max-width: 424.11px;
    }

    /* change current after carousel implemented */
    .pastTeamMembers, .currentTeamMembers {
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .pastTeamMembers div, .currentTeamMembers div {
        min-width: 150px;
    }
}

/* Desktop and Tablets */
@media screen and (max-width: 950px) {
    .coachSponsorContactContainer img, .currentTeamMembers img, .pastTeamMembers img {
        margin-right: 0;
    }

    .sideTabletDesktop, .widthForContentUnderHR {
        width: 94.11%;
    }

    .widthForContentUnderHR {
        display: inline-block;
        vertical-align: top;
    }

    /* change current */

    .pastTeamMembers, .currentTeamMembers {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .pastTeamMembers div, .currentTeamMembers div {
        min-width: none;
    }
}

/* Mobile and Tablets */
@media screen and (max-width: 600px) {
    .coachSponsorContactContainer div, .currentTeamMembers div, .pastTeamMembers div {
        width: 94.11%;
        margin: 2% auto;
    }

    .coachSponsorContactContainer, .pastTeamMembers, .currentTeamMembers {
        flex-direction: column;
    }

    .coachSponsorContactContainer img, .currentTeamMembers img, .pastTeamMembers img {
        margin-right: 0;
    }

    .sideTabletDesktop, .widthForContentUnderHR {
        width: 99%;
    }

    /* change current */

    .pastTeamMembers, .currentTeamMembers {
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 0px;
    }
    
    .pastTeamMembers div, .currentTeamMembers div {
        min-width: none;
    }
}