.hamburger{
    display: none;
    padding: 5px;
}

.hamburger i{
    font-size: 65px;
}

@media screen and (max-width: 1000px){
    .hamburger{
        position: fixed;
        display: block;
        z-index: 10;
        top: 0;
        right: 2vw;
    }
}