.pageHeaderInstructions {
    text-align: center;
}

.flexBoxContainerInstructions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.oneDimensionalInstructions p, .twoDimensionalInstructions p, .oneDimensionalInstructions ol, .twoDimensionalInstructions ol, .oneDimensionalInstructions li, .twoDimensionalInstructions li {
    text-align: left;
}

.oneDimensionalInstructions h2, .twoDimensionalInstructions h2 {
    text-align: center;
}

.oneDimensionalInstructions, .twoDimensionalInstructions {
    width: 45%;
}

@media screen and (max-width: 600px) {
    .oneDimensionalInstructions, .twoDimensionalInstructions {
        width: 94.11%;
    }

    .flexBoxContainerInstructions {
        flex-direction: column;
    }
}
  