.navbar ul{
    display: flex;
    grid-area: navbar;
    align-self: flex-end;
}

.navbar a:hover{
    color: var(--secondary-header-color) !important;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar ul li{
    list-style: none;
    margin: auto;
    justify-content: space-around;
}

.navbar a.active{
    color: var(--primary-header-color) !important;
}

#nav-logo{
    align-self: flex-start;
    grid-area: logo;
}

.nav-container{
    display: flex;
    grid: 'logo navbar navbar';
    grid-auto-rows: 200px;
    min-height: 75px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0a0a0a;
    color: white;
}