@font-face {
    font-family: 'Andada Pro';
    src: url('../public/fonts/AndadaPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Varela Round';
    src: url('../public/fonts/VarelaRound-Regular.ttf') format('truetype');
}
.App {
    text-align: center;
    transition: margin-left 0.3s ease, background-color 0.25s ease-in-out;
}

.navbar li.active a{
    color: var(--primary-header-color);
}
